.Text.Dreamcore {
  /* /анимация перекрашивания слова */

  width: 100px;
  height: 100px;
  background-color: black;
  border-radius: 100%;
  animation: 4s infinite linear;
  /* /название, время действия, бесконечно меняет цвет, сплавно меняется/  */
}
@keyframes text-color-animation {
  0% {
    color: #7a8cc3; /* Голубой */
  }
  33% {
    color: #f4c2c2; /* Нежно-розовый */
  }
  66% {
    color: #fbc9a1; /* персиковый */
  }
  100% {
    color: #7a8cc3; /* Возврат к голубому */
  }
}
